<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<body>
	<div th:include="layout/cabecalho :: header"></div>	
    <div class="container">
    	<table class="table table-hover" >
          <thead>
            <tr>
              <th>Código</th>
              <th>Descrição</th>
              <th>Endereço</th>
              <th>Quantidade</th>
              <th>Separado</th>
              <th>Sobra</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>TESTE</td>    
              <td>TESTE</td>    
              <td>TESTE</td>    
              <td>TESTE</td>    
              <td>TESTE</td>    
              <td>TESTE</td>    
            </tr>
            <tr >
              <td>Wilian</td>    
              <td>Wilian</td>    
              <td>Wilian</td>    
              <td>Wilian</td>    
              <td>Wilian</td>    
              <td>Wilian</td>    
              </tr>
          </tbody>
    	</table> 
   	</div>
    <div th:include="layout/rodape :: footer"></div>	
</body>
</html>
